@import '../../global.scss';

.intro {
    background-color: white;
    display: flex;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 700px;
            height: 700px;
            background-color: whitesmoke;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            @include mobile{
                align-items: flex-start;
                background-color: $mainColor;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;

                .sk{
                    padding-bottom: 250px;
                    font-size: 48px;
                }
            }

        }
        img {
            height: 90%;
            width: 100%;

            @include mobile {
                display: none;
            }
        }
    }
    .right{
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            @include mobile {
                padding-left: 0;
                align-items: center;
            }

            h1 {
                font-size: 60px;
                margin: 10px 0;

                @include mobile {
                    font-size: 40px; 
                }
            }
            h2{
                font-size: 35px;

            }
            h3{
                font-size: 30px;

                @include mobile {
                    font-size: 20px; 
                }

                span {
                    font: inherit;
                    color: rgb(104, 8, 160);
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }
                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 55%;

            img {
                width: 30px;
                animation: arrowBlink 2s infinite;
            }
            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }

}